.user_Details_paragraph{
    display: flex;
    align-items: center;
    width: 100%;
}
.user_Details_span{
    font-size: large;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 8px;
    color: gray;
}
/* Tab section  */
.TabList{
    display: flex;
}
.Tab{
    padding: 10px;
    border-bottom: 5px solid #25476a;
    border-bottom: transparent;
}

.TabPanel{
    border-top-width: 2px;
}